@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@435&family=Rubik+Doodle+Shadow&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/*Index.HTML  */

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #eef5cc;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

*,
::after,
::before {
    box-sizing: border-box;
}

user agent stylesheet body {
    display: block;
    margin: 8px;
}

.navbar-nav {
    font-size: xx-large;
}

.navbar-light .navbar-nav .nav-link {
    color: #d37217;
    font-weight: 600;
}


#home {
    background: url('/images/visa.jpg') 25% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 75vh;
    text-align: center;
}

.first-info {
    margin: 70px 0;
    text-align: center;
}

.first-info p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: x-large;
    font-weight: 600;
    color: #28190b;
}

.btn-primary,
.btn-lg .btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #035410 !important;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    transition: background 200ms ease, border-color 200ms ease;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 50px;
}

a {
    text-decoration: none;
    color: #080707;
    font-weight: 700;
    margin-top: 0px;
}